<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head') %>

  <link rel="stylesheet" href="styles/restaurants.css" />
  <body>
    <!-- injecting header and aside using ejs -->
    <%- include('includes/header') %> <%- include('includes/aside') %>
    <main>
      <h1>Recommended restaurants</h1>
      <% if (numberOfRestaurants === 0) { %>
      <p>
        Unfortunately, we have no restarants yet - maybe start recommending
        some?
      </p>
      <% } else {%>
      <p>Find your next favorite restaurants with help of our other users!</p>
      <p>We found <%= numberOfRestaurants %> Restaurants.</p>
      <!-- adding query parameters -->
      <form action="/restaurants" method="GET">
        <input type="hidden" value="<%= nextOrder %>" name="order">
        <button class="btn">Change Order</button>
      </form>
      <ul id="restaurants-list">
        <!-- Using js's for-loop inside the html file -->
        <% for(const restaurant of restaurants) { %> <%-
        include('includes/restaurants/restaurant-item', {restarant: restaurant})
        %> <% } %>  
        <!-- closing for-loop -->
      </ul>
      <% } %>
    </main>
  </body>
</html>
